body {
  background: url('https://image.freepik.com/free-vector/white-technology-background_23-2148413500.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* 
  hospital blur background: https://image.freepik.com/free-photo/blur-hospital_1203-7972.jpg
  hopital art: https://image.freepik.com/free-vector/hospital-facade-street-view-flat-style-ambulance-car-entrance_1268-11787.jpg
  hospital art 2 : https://image.freepik.com/free-vector/city-hospital-building-ambulance-medical-care-helicopter_101087-158.jpg
  network: https://image.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg
  abstract: https://image.freepik.com/free-vector/hexagonal-infographic-white-background-template_1017-19276.jpg
  blue geometric: https://image.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg
  hi-tech: https://image.freepik.com/free-vector/white-technology-background_23-2148413500.jpg
  
  
  
  
  */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.big-btn {
  width: 50rem;
  height: 9.5rem;
  /* width: 9.5rem;
  height: 25rem; */
  font-size: 40px !important;
  margin: 0.65rem;
  margin-left: 8rem;
  text-align: center;
  padding: 10px;
  display: block;
  justify-content: center;
  align-items: center;
 
}

.lang-btn {
  text-align: center;
  margin-top: 0.10rem;
  float: right;
  /* padding: 0.5rem; */
  
  
}